@tailwind base;
@tailwind components;
@tailwind utilities;

/** STYLE **/
.nav {
  @apply bg-color3 p-5 font-lato flex text-color1;
}
.icon {
  @apply text-3xl text-color1;
}

.link1 {
  @apply text-2xl;
}

.sections {
  @apply absolute top-0 left-0 w-52 h-full bg-color4 shadow-md text-center grid  grid-cols-1 pt-10;
}

.svg {
  @apply flex absolute;
}

.menu-button {
  @apply flex relative justify-end;
}

.link {
  @apply no-underline text-xl;
}

/** RESPONSIVE **/

.menu-button {
  display: none;
}

@media (max-width: 576px) {
  .menu-button {
    display: block;
  }
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
  }
}

@media (min-width: 992px) {
  .links {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .links {
    display: flex;
  }
}

ul {
  display: none;
}

ul.open {
  display: block;
}
