@tailwind base;
@tailwind components;
@tailwind utilities;

/** ROOT **/

:root {
  overflow-x: hidden;
  box-sizing: border-box;
}

/*** Mensajes de error del Form ***/

.error {
  color: red;
  font-family: merriweather;
  font-size: small;
  font-weight: 500;
  margin-top: 1%;
}
