@tailwind base;
@tailwind components;
@tailwind utilities;

/** ROOT **/

:root {
  overflow-x: hidden;
  box-sizing: border-box;
  z-index: 999;
}

/*** Mensajes de error del Form ***/

.error {
  color: red;
  font-family: merriweather;
  font-size: small;
  font-weight: 900;
  margin-top: 1%;
}

/** Nav **/

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

/** Home **/

.button-home {
  transform: scale(1);
  transition: opacity 2s ease-in-out, transform 0.5s ease-in-out;
}

.button-home:hover {
  transform: scale(1.20);
  transition: transform 0.5s ease-in-out;
}

/** Download Button **/

.down {
  transform: scale(1);
  transition: opacity 2s ease-in-out, transform 0.5s ease-in-out;
}

.down:hover {
  transform: scale(1.20);
  transition: transform 0.5s ease-in-out;
}



.down-animation {
  animation: ease-in-out 3s forwards;
}

/** Footer Buttons **/

.btn-footer {
  transform: scale(1);
  transition: opacity 2s ease-in-out, transform 0.5s ease-in-out;
}

.btn-footer:hover {
  transform: scale(1.50);
  transition: transform 0.5s ease-in-out;
}



.btn-footer-animation {
  animation: ease-in-out 3s forwards;
}